@import url('https://fonts.googleapis.com/css?family=Nunito');
/* font-family: 'Nunito', sans-serif; */

@font-face {
  font-family: "Premier League";
  src: url("./PremierLeague.ttf") format("ttf");
}


body {
  margin: 0;
  padding: 0;
  background-color: #F7F9FC;
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Premier League", serif;
}

.team.Arsenal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #DD2F21;
  color: #F7F9FC;
  font-family: "Premier League";
  font-size: 25px;
}

.team.CrystalPalace {
  background-color: #DC4D34;
  color: #194A92;
  font-family: "Premier League";
}
